.head-image {
  position: relative; /* Declared position allows for location changes */
  top: -7px; /* Moves the image 2px closer to the top of the page */
}

.alexcolor {
  background-color: rgb(124, 191, 193) !important;
}
