<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="carthing" *ngFor="let car of cars; let i=index">
        <div *ngIf="i % 3 === 0">
          <img class="image" src={{car.img_url}} style="height:300px;">
            <div class="holder">
              <p class="details"><b>{{car.car_make}} {{car.model}} | {{car.year}}</b></p>
              <p class="price">{{car.price}}</p>
            </div>
      </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="carthing" *ngFor="let car of cars; let i=index">
        <div *ngIf="i % 3 === 1">
          <img class="image" src={{car.img_url}} style="height:300px;">
          <p class="details"><b>{{car.car_make}} {{car.model}} | {{car.year}}</b></p>
          <p class="price">{{car.price}}</p>
      </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="carthing" *ngFor="let car of cars; let i=index">
        <div *ngIf="i % 3 === 2">
          <img class="image" src={{car.img_url}} style="height:300px;">
          <p class="details"><b>{{car.car_make}} {{car.model}} | {{car.year}}</b></p>
          <p class="price">{{car.price}}</p>
      </div>
    </div>
    </div>
  </div>
</div>
