.bg {
  background-image: url("https://i.ibb.co/16FRDhG/More-people-visting-car-dealers.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center !important;
  //line-height: 100vh;
}

.text {
   background-color: rgba(248, 247, 216, 0.7);
   position: fixed;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 22px;
   border-radius: 14px;
   margin:0;
   font-size: 1.2em;
}


